<form class="" action="/" method="post">
  <label for="">Email</label>
<input type="text" name="email" value="">
<label for="">app</label>
<input type="text" name="app" value="">
<button type="submit" name="button">submit</button>
</form>

<a href="/pass"><button type="button" name="button">show data</button></a>
