<form class="" action="/login" method="post">
  <label for="">email: </label><input type="text" name="uniqId" value="">
  <label for="">password: </label><input type="password" name="loginKey" value="">
  <button type="submit" name="button">login</button>
</form>
